<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= buyer.country %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= buyer.currency %>
  </p>

</div>
